<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <div class="header-box">
            <nav class="navbar">
                <a th:href="@{/home}">Home</a>
                <a th:href="@{/list-users}">List Users</a>
                <a th:href="@{/add-article}">Add Article</a>
                <a th:href="@{/list-articles}">List Articles</a>
                <a th:href="@{/list-user-articles}">List User Articles</a>
                <a th:href="@{/update-user}">Update User</a>
                <a th:href="@{/logout}">Logout</a>
            </nav>
        </div>
    </header>
</body>
</html>