<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <h1>Laboratories</h1>
    <hr/>
    <div class="container">
        <div class="labs" th:each="userLab : ${userLabs}" th:object="${userLab}">
            <h2><span th:text="*{name}"></span></h2>
            <h3><span th:text="*{location}"></span></h3>
            <h3><span th:text="*{subject}"></span></h3>
        </div>
    </div>
</body>
</html>