<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>All Users</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    </head>
<body>

<div th:replace="fragments/header :: header"></div>

<h1>Usuários</h1>
<hr/>
<p th:each="user : ${users}" th:object="${user}">
    <span th:text="*{name}"></span>
    <span th:text="*{email}"></span>
</p>

</body>
</html>