<!--/*@thymesVar id="registrationForm" type="io.github.matheushenriquereiter.project.model.RegistrationForm"*/-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>User Registered</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div>
    <h1>User Registered</h1>
    
    <div th:object="${registrationForm}">
        <p>Name:<strong th:text="*{name}"></strong></p>
        <p>Email: <strong th:text="*{email}"></strong></p>
        <a th:href="@{/login}">Login Page</a>
    </div>
</div>

</body>
</html>